.bannerContainer {
  overflow: hidden;
  background: url(../images/yoda-wewa-page-banner.jpg) no-repeat;
  height: 700px;
}
.bannerContainer input,
.bannerContainer select {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.bannerContainer input:focus,
.bannerContainer select:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: none;
}
.bannerContainer input::before {
  content: attr(placeholder);
}
.checkin-container {
  width: 100vw;
  margin-top: 80px;
}
.checkin-container .main-title1 {
  width: 750px;
  letter-spacing: 3px;
  line-height: 90px;
}
.checkin-inputs {
  display: flex;
}

/* .bannerContainer img {
  object-fit: cover;
  width: 100%;
} */
.main-title {
  font-family: "Playfair Display", serif !important;
  font-style: italic;
}
.main-title1 {
  font-family: "Playfair Display", serif !important;
  color: white;
  font-size: 80px;
}
.main-title2 {
  font-family: "Playfair Display", serif !important;
  font-size: 30px !important;
}
.main-title3 {
  font-family: "Playfair Display", serif !important;

  font-size: 30px;
}
@media screen and (min-width: 766px) and (max-width: 993px) {
  .checkin-container {
    margin-top: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 765px) {
  .checkin-container {
    margin-top: 20px;
  }
  .checkin-container .main-title1 {
    width: unset;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 65px;
  }
}
@media screen and (max-width: 499px) {
  .contentComp {
    margin-top: 30px !important;
  }
  .contentComp h1,
  .contentComp img {
    margin-bottom: 20px !important;
  }
  .checkin-inputs {
    display: flex;
    flex-direction: column;
  }
  .checkin-container {
    margin-top: 20px;
  }
  .checkin-container .main-title1 {
    width: unset;
    text-align: center;
    font-size: 43px;
    letter-spacing: 3px;
    line-height: 57px;
  }
}

.contentComp {
  margin-top: 80px;
  font-family: "Raleway", sans-serif;
  color: black;
}
.footerComp {
  box-sizing: border-box !important;
  background: #334666;
  color: white;
}
.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
